/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
composer.phar
app/cache/dev/appDevDebugProjectContainer.xml
app/cache/dev/appDevDebugProjectContainer.php.meta
app/cache/dev/classes.map
app/cache/dev/appDevDebugProjectContainerCompiler.log
app/cache/dev/appDevDebugProjectContainer.xml
app/cache/dev/appDevDebugProjectContainer.php.meta
app/logs/dev.log
app/logs/dev.log
