{% extends 'base.html.twig' %}

{% block body %}
    {% include 'default/navbar-logo-usuario.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            {% include 'default/nav-menu.html.twig' %}
            {% include 'forms/form-ordem.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
